In [ ]:
import pandas as pd

In [13]:
#import des differents csv depuis local
import pandas as pd

df_2011 = pd.read_csv('/content/lieux_2011.csv', delimiter=',')
df_2012 = pd.read_csv('/content/lieux_2012.csv', delimiter=',')
df_2013 = pd.read_csv('/content/lieux_2013.csv', delimiter=',')
df_2014 = pd.read_csv('/content/lieux_2014.csv', delimiter=',')
df_2015 = pd.read_csv('/content/lieux_2015.csv', delimiter=',')
df_2016 = pd.read_csv('/content/lieux_2016.csv', delimiter=',')
df_2017 = pd.read_csv('/content/lieux-2017.csv', delimiter=',')
df_2018 = pd.read_csv('/content/lieux-2018.csv', delimiter=',')
df_2019 = pd.read_csv('/content/lieux-2019.csv', delimiter=';')
df_2020 = pd.read_csv('/content/lieux-2020.csv', delimiter=';')
df_2021 = pd.read_csv('/content/lieux-2021.csv', delimiter=';')

<ipython-input-13-3e66c732cf2b>:9: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2016 = pd.read_csv('/content/lieux_2016.csv', delimiter=',')
<ipython-input-13-3e66c732cf2b>:10: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2017 = pd.read_csv('/content/lieux-2017.csv', delimiter=',')
<ipython-input-13-3e66c732cf2b>:11: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2018 = pd.read_csv('/content/lieux-2018.csv', delimiter=',')

In [6]:
df_2018

,Num_Acc,catr,voie,v1,v2,circ,nbv,pr,pr1,vosp,prof,plan,lartpc,larrout,surf,infra,situ,env1
0,201800000001,3,41,NaN,C,2.0,2.0,NaN,NaN,0.0,1.0,3.0,NaN,NaN,1.0,0.0,1.0,0.0
1,201800000002,4,41,NaN,D,2.0,2.0,NaN,NaN,0.0,1.0,2.0,NaN,NaN,1.0,0.0,1.0,0.0
2,201800000003,3,39,NaN,D,2.0,2.0,NaN,NaN,0.0,1.0,1.0,NaN,NaN,1.0,0.0,1.0,0.0
3,201800000004,3,39,NaN,NaN,2.0,2.0,NaN,NaN,0.0,1.0,1.0,NaN,NaN,1.0,0.0,1.0,0.0
4,201800000005,4,NaN,NaN,NaN,1.0,1.0,NaN,NaN,0.0,1.0,1.0,NaN,NaN,1.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57778,201800057779,4,NaN,NaN,NaN,1.0,1.0,0.0,0.0,0.0,1.0,1.0,NaN,NaN,1.0,0.0,3.0,0.0
57779,201800057780,2,2.0,NaN,NaN,0.0,2.0,0.0,0.0,0.0,1.0,1.0,NaN,NaN,1.0,0.0,3.0,0.0
57780,201800057781,2,1.0,NaN,NaN,2.0,2.0,0.0,0.0,0.0,1.0,1.0,NaN,NaN,1.0,0.0,3.0,0.0
57781,201800057782,4,NaN,NaN,NaN,0.0,2.0,0.0,0.0,0.0,2.0,2.0,NaN,NaN,1.0,0.0,3.0,0.0
57782,201800057783,2,2.0,NaN,NaN,2.0,2.0,2.0,380.0,0.0,1.0,1.0,NaN,NaN,1.0,0.0,3.0,0.0

In [14]:
#concatenation des tab
df_lieux_all = pd.concat([df_2011, df_2012, df_2013, df_2014, df_2015, df_2016, df_2017, df_2018, df_2019, df_2020, df_2021])
df_lieux_all

,Num_Acc,catr,voie,v1,v2,circ,nbv,pr,pr1,vosp,prof,plan,lartpc,larrout,surf,infra,situ,env1,vma
0,201100000001,3,39.0,NaN,NaN,2.0,2.0,5.0,535.0,0.0,1.0,1.0,0.0,60.0,1.0,0.0,1.0,0.0,NaN
1,201100000002,3,41.0,NaN,B,2.0,0.0,0.0,700.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
2,201100000003,3,39.0,NaN,NaN,2.0,2.0,10.0,600.0,0.0,1.0,1.0,0.0,60.0,1.0,0.0,1.0,99.0,NaN
3,201100000004,3,39.0,NaN,NaN,2.0,0.0,8.0,400.0,0.0,1.0,1.0,0.0,58.0,1.0,0.0,1.0,0.0,NaN
4,201100000005,3,39.0,NaN,NaN,2.0,2.0,7.0,450.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,3.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56513,202100056514,1,65,-1.0,NaN,3.0,4.0,0,454,0.0,2.0,3.0,NaN,-1,2.0,9.0,2.0,NaN,130.0
56514,202100056515,3,520,0.0,D,2.0,2.0,46,2,0.0,1.0,1.0,NaN,-1,5.0,0.0,3.0,NaN,80.0
56515,202100056516,3,538,-1.0,NaN,2.0,2.0,49,24,0.0,2.0,2.0,NaN,-1,2.0,0.0,1.0,NaN,80.0
56516,202100056517,4,NaN,-1.0,NaN,2.0,2.0,(1),(1),0.0,1.0,2.0,NaN,-1,2.0,5.0,3.0,NaN,80.0
56517,202100056518,3,129,0.0,NaN,2.0,2.0,2,290,0.0,1.0,1.0,NaN,-1,2.0,0.0,1.0,NaN,70.0

In [15]:
df_lieux_all.dtypes

Num_Acc      int64
catr         int64
voie        object
v1         float64
v2          object
circ       float64
nbv        float64
pr          object
pr1         object
vosp       float64
prof       float64
plan       float64
lartpc      object
larrout     object
surf       float64
infra      float64
situ       float64
env1       float64
vma        float64
dtype: object

In [16]:
# Exporter le DataFrame en tant que fichier CSV
import pandas as pd


df_lieux_all.to_csv('/content/sample_data/lieux_all_2.csv', index=False)